@font-face {
	font-family: 'BackIssues';
  font-style: normal;
  font-weight: 400;
	src: local('BackIssuesRegular'),
    url('/public/fonts/BackIssuesRegular.ttf') format('truetype'),
    url('/public/fonts/BackIssuesRegular.otf') format('opentype'),
    url('/public/fonts/BackIssuesRegular.woff2') format('woff2'),
    url('/public/fonts/BackIssuesRegular.woff') format('woff');
}  

body {
  margin: 0;
  font-family: 'BackIssues', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/public/images/comic-backgruond.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
