.screen-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 4 columns */
    grid-template-rows: repeat(3, 1fr); /* Creates 4 rows */
    gap: 10px; /* Optional: Adds some space between grid items */
    padding: 10px; /* Optional: Adds some padding around the grid */
}


/* .image-container-2 img {
    width: 95%;
    height: 200px;
    border: 2px solid black;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
    object-fit: fill;
  } */
.comic-frame-wrapper {
    width: 95%;
    padding: 3px; /* Changes border thickness */
    
    display: inline-block;
    background-color: black;
}

.comic-frame-wrapper img {
    margin: 0;
}

.comic-frame {
    width: 100%; 
    height: auto;
    object-fit: cover;
    margin: 0;
}

.comic-frame.type-0 {
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
    border: 3px solid black;
}

.comic-frame-wrapper.type-0 {
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.comic-frame.type-1 {
    clip-path: polygon(100% 100%, 0% 90%, 0% 0%, 100% 0%);
  }

.comic-frame-wrapper.type-1 {
    clip-path: polygon(100% 100%, 0% 90%, 0% 0%, 100% 0%);
}


.comic-frame.type-2 {
    clip-path: polygon(100% 100%,0% 100%,0% 0%,100% 10%);
}

.comic-frame-wrapper.type-2 {
    clip-path: polygon(100% 100%,0% 100%,0% 0%,100% 10%);
}

.comic-frame.type-3 {
    clip-path: polygon(100% 90%,0% 100%,0% 0%,100% 0%);
}

/* .image-type-3:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    clip-path: polygon(100% 90%, 0% 100%, 0% 0%, 100% 0%);
    z-index: -1; Send behind the image
}
*/

.comic-frame.type-4 {
    clip-path: polygon(100% 100%,0% 100%,0% 10%,100% 0%);
}

.comic-frame.type-5 {
    clip-path: polygon(90% 100%,0% 100%,0% 10%,100% 0%);
}

.comic-frame.type-6 {
    clip-path: polygon(100% 100%,10% 100%,0% 10%,100% 0%);
}