.image-container-left {
    width: 25%;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.image-container-right {
    width: 25%;


    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.screen-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 4 columns */
    grid-template-rows: repeat(2, 1fr); /* Creates 4 rows */
    gap: 10px; /* Optional: Adds some space between grid items */
    padding: 10px; /* Optional: Adds some padding around the grid */
}


/* .image-container-2 img {
    width: 95%;
    height: 200px;
    border: 2px solid black;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
    object-fit: fill;
  } */

.comic-frame {
    width: 95%; 
    height: auto;
    object-fit: cover;
}

.comic-frame.type-1 {
    width: 95%; 
    height: 200px;
    border: 2px solid black;
    clip-path: polygon(100% 100%, 0% 90%, 0% 0%, 100% 0%);
    margin-bottom: -15px;
    margin-top: 10px
  }


.comic-frame.type-2 {
    width: 95%; 
    height: 200px; 
    border: 2px solid black;
    clip-path: polygon(100% 100%,0% 100%,0% 0%,100% 10%);
}

.comic-frame.type-3 {
    position: relative;
    width: 95%;
    height: 200px; 
    clip-path: polygon(100% 90%,0% 100%,0% 0%,100% 0%);
    margin-bottom: -15px;
    margin-top: 10px;
}

/* .image-type-3:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    clip-path: polygon(100% 90%, 0% 100%, 0% 0%, 100% 0%);
    z-index: -1; Send behind the image
}
*/

.comic-frame.type-4 {
    width: 95%; 
    height: 200px; 
    border: 2px solid black;
    clip-path: polygon(100% 100%,0% 100%,0% 10%,100% 0%);
}

.comic-frame.type-5 {
    width: 95%; 
    height: 200px; 
    border: 2px solid black;
    clip-path: polygon(90% 100%,0% 100%,0% 10%,100% 0%);
}

.comic-frame.type-6 {
    width: 95%; 
    height: 200px; 
    border: 2px solid black;
    clip-path: polygon(100% 100%,10% 100%,0% 10%,100% 0%);
}