/* FILEPATH: /C:/Users/alfdu/OneDrive/Documents/GitHub/UGAHacks-2024-Frontend/src/pages/WelcomePage.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #ff2f00;
  min-height: 80vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

/* Set styles for headings */
h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

/* Set styles for paragraphs */
p {
  color: #666;
  line-height: 1.5;
}

/* Set styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  height: 100%;
}

.welcome-screen-container{
  display: grid;
  grid-template-rows: 1fr 3fr; /* Creates 2 rows */
  height: 100%;
}

.welcome-screen-header{
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.comic-strip-logo {
  width: 20%;
  height: auto;
}

.welcome-screen-body{
  display: grid;
  grid-template-rows: 1fr 2r 2fr;
  height: 57%;
}

.ask-prompt-header {
  color: white;
  font-size: 2em;
  font-family: "BackIssues";
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
}

.centered-form{
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  font-family: "BackIssues";
}

.frame-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-counter-text {
  color: white;
  font-size: 1em;
  font-family: "BackIssues";
  margin-left: 5px;
  height: auto;
}

.frame-counter-output {
  width: 10ch;
  height: 2em;
  border: 1px solid #6497bf; /* Switched the border color */
  border-radius: 1px;
  background-color: #9fcbee; /* Switched the background color */
}

.submit-button-centering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button-centering button{
  font-size: 2em;
  font-family: "BackIssues";
  width: "200px";
  height: "50px";
  border: 2px solid black;
}

.button-container {
  margin-top: 20px;
  width: 10%;
}

/* Set styles for buttons */
button {
  padding: 10px 20px;
  background-color: #6497bf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9fcbee;
}

.comic-page {
  width: 23%; /* Set to 23 if you don't want to scroll */
  aspect-ratio: 2/3;
  border: 3px solid #6497bf; 
  border-radius: 15px;
  background-color: #fef1d2;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 0px;
  height: 100%;
  margin: 0 auto;
}

.carousel-button-container {
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-button-container button {
  width: 3rem;
  height: 3rem;
  padding: 10px;
}

.input-box {
    width: 50%;
    height: 150px;
    border: 3px solid #6497bf; /* Switched the border color */
    border-radius: 5px;
    background-color: #9fcbee; /* Switched the background color */
    font-family: "BackIssues";
    font-size: 2em; /* Adjust the font size as needed */
  }

  .input-box::placeholder {
    font-size: 1em; /* Adjust the font size as needed */
  }

  .title-text{
    color: white;
    font-size: 2em;
    font-family: "BackIssues";
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    font-weight: bold;
    text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black;
  }

.compic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25%;
  height: auto;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.submit-button-centering {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  font-size: 4em;
  width: 200px; /* Remove the quotes around the width value */
  height: 50px; /* Remove the quotes around the height value */
}

.button-container {
  margin-top: 20px;
  width: 10%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  text-align: center;
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar { 
  height: 50px;
  background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar {   
  background-color: lightgreen; 
  width: 100%; 
  background-image: linear-gradient(
        45deg, lightgreen 25%, 
        #ccffcc 25%, #ccffcc 50%, 
        lightgreen 50%, lightgreen 75%,
        #ccffcc 75%, #ccffcc); 
      animation: progressAnimationStrike 6s;
    }

/* .progress {
  appearance: none;
  width: 90%;
  height: 10px;
  background-color: #313030;
  border-radius: 5px;
  margin: 15px 0;
  position: relative; /* Added for positioning */
/* } */

/*
.progress-bar {

  height: 10%; Changed height to match parent
  width: 90%; Initially, the width is 0, it will be dynamically adjusted
  background: linear-gradient(to right, #ff5500, #ffcc00); Background color for the progress
  border-radius: 5px; Adjusted to match parent
  position: absolute; Positioning
  left: 50%; Set the left position to 50%
  transform: translate(-50%, 500%); Move the progress bar horizontally and vertically by half of its width and height
}

/*
.progress-value {
  height: 100%;
  background: linear-gradient(to bottom, #00ff00 0%, #00ff00 50%, transparent 50%, transparent 100%);
  border-radius: 5px;
} */



.carousel-button-container {
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Center the carousel button container horizontally */
}

.carousel-button-container button {
  width: 3rem;
  height: 3rem;
  padding: 10px;
}

.input-box {
  width: 50%;
  height: 150px;
  border: 3px solid #6497bf;
  border-radius: 5px;
  background-color: #9fcbee;
}

.input-box::placeholder {
  font-size: 1em;
}


.compic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25%;
  height: auto;
}

/* .comic-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */
