/* FILEPATH: /C:/Users/alfdu/OneDrive/Documents/GitHub/UGAHacks-2024-Frontend/src/pages/WelcomePage.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
}

/* Set styles for headings */
h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

/* Set styles for paragraphs */
p {
  color: #666;
  line-height: 1.5;
}

/* Set styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.welcome-screen-container{
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
}

.comic-strip-header {
  color: #9fcbee;
  font-size: 4em;
  font-family: "BackIssues";
  text-align: center;
}

.comic-strip-logo {
  width: 30%;
  height: auto;
}

.strip-header-span{
  background-color: white;
}

.ask-prompt-header {
  color: #9fcbee;
  font-size: 2em;
  font-family: "BackIssues";
  text-align: center;
  margin-top: "20px";
}

.prompt-header-span{
  background-color: white;
}

.centered-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-button-centering{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button{
  font-size: 4em;
  width: "200px";
  height: "50px"
}

.button-container {
  margin-top: 20px;
  width: 10%;
}

/* Set styles for buttons */
button {
  padding: 10px 20px;
  background-color: #6497bf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9fcbee;
}

.comic-page {
  width: 35%;
  aspect-ratio: 2/3;
  border: 3px solid #6497bf; 
  border-radius: 15px;
  background-color: #ffffff;
}

.carousel-button-container {
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-button-container button {
  width: 3rem;
  height: 3rem;
  padding: 10px;
}

.input-box {
    width: 50%;
    height: 150px;
    border: 3px solid #6497bf; /* Switched the border color */
    border-radius: 5px;
    background-color: #9fcbee; /* Switched the background color */
    
  }

  .input-box::placeholder {
    font-size: 1em; /* Adjust the font size as needed */
  }