/* FILEPATH: /C:/Users/alfdu/OneDrive/Documents/GitHub/UGAHacks-2024-Frontend/src/pages/WelcomePage.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Set styles for headings */
h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

/* Set styles for paragraphs */
p {
  color: #666;
  line-height: 1.5;
}

/* Set styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Set styles for buttons */
button {
  padding: 10px 20px;
  background-color: #f44927;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ca2301ff;
}


.image-container {
  width: 25%;
}

.button-container {
  width: 10%;
}

.image-container img {
  width: 95%; /* Change the width value as per your requirement */
  height: 200px; /* Change the height value as per your requirement */
  border: 2px solid black;
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
  object-fit: fill;
}


.button-container img {
  width: 20px;
  height: 20px;
}

.screen-container .row{
  display: flex;
  justify-content: center;
  align-items: center;
}
