/* FILEPATH: /C:/Users/alfdu/OneDrive/Documents/GitHub/UGAHacks-2024-Frontend/src/pages/WelcomePage.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #ff2f00;
  min-height: 80vh;
}

/* Set styles for headings */
h1, h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

/* Set styles for paragraphs */
p {
  color: #666;
  line-height: 1.5;
}

/* Set styles for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.welcome-screen{
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
}

.comic-strip-header {
  color: white;
  font-size: 4em;
  font-family: "BackIssues";
  text-align: center;
}

.comic-strip-logo {
  width: 30%;
  height: auto;
}

.strip-header-span{
  background-color: white;
} */

.ask-prompt-header {
  color: white;
  font-size: 2em;
  font-family: "BackIssues";
  text-align: center;
}

/* .prompt-header-span{
  background-color: white;
} */

.centered-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-button-centering{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button{
  font-size: 4em;
  width: "200px";
  height: "50px"
}

.button-container {
  margin-top: 20px;
  width: 10%;
}

/* Set styles for buttons */
button {
  padding: 10px 20px;
  background-color: #6497bf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9fcbee;
}

.comic-page {
  width: 25%; /* Set to 25 if you don't want to scroll */
  aspect-ratio: 2/3;
  border: 3px solid #6497bf; 
  border-radius: 15px;
  background-color: #fef1d2;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 0px;
  height: 100%;
  margin: 0 auto;
}

.carousel-button-container {
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-button-container button {
  width: 3rem;
  height: 3rem;
  padding: 10px;
}

.input-box {
    width: 50%;
    height: 150px;
    border: 3px solid #6497bf; /* Switched the border color */
    border-radius: 5px;
    background-color: #9fcbee; /* Switched the background color */
    
  }

  .input-box::placeholder {
    font-size: 1em; /* Adjust the font size as needed */
  }

  .title-text{
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
  }

.compic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25%;
  height: auto;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.submit-button-centering {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  font-size: 4em;
  width: 200px; /* Remove the quotes around the width value */
  height: 50px; /* Remove the quotes around the height value */
}

.button-container {
  margin-top: 20px;
  width: 10%;
}

.carousel-button-container {
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Center the carousel button container horizontally */
}

.carousel-button-container button {
  width: 3rem;
  height: 3rem;
  padding: 10px;
}

.input-box {
  width: 50%;
  height: 150px;
  border: 3px solid #6497bf;
  border-radius: 5px;
  background-color: #9fcbee;
}

.input-box::placeholder {
  font-size: 1em;
}

.title-text {
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
}

.compic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25%;
  height: auto;
}

.comic-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
