.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(9px + 1vmin);
  color: white;
}

.Main-content {
 margin-top: 1vh;
 
}

.btn-ers {
	background-color: #f9b05c;
	font-weight: 400;
	color: #4a4b4b;
}

.btn-ers:hover {
	background-color: #d9903c;
	color: #4a4b4b;
}

.btn-ers:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ers-disabled {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-ers-disabled:hover {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-ers-disabled:active {
	background-color: #c0c0c0ee !important;
	color: #4a4b4b !important;
	border-width: 0 !important;
	cursor: default !important;
}

.btn-ers-disabled:focus-visible {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-lg {
	padding: 0.75rem 1rem;
	font-size: 1rem;
	font-size: large;
}

.btn-ersDone {
	background-color: #39e04c;
	font-weight: 400;
	color: #4a4b4b;
	border: solid #19cf2c 1px;
}

.btn-ersDone:hover {
	background-color: #11af11;
	color: #f0f0f0;
}

.btn-ersDone:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersDone:active {
	background-color: #5cbf5c ! important;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersCancel {
	background-color: #c9ccd5;
	border-color: #c9ccd5;
}

.btn-ersCancel:hover {
	background-color: #8b8b8b;
	border-color: #8b8b8b;
}

.btn-ersCancel:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersCancel:active {
	background-color: #8b8b8b ! important;
	color: #4a4b4b;
	border-width: 0;
}


.footer-btn {
	float: right;
}

.nextButton {
	height: fit-content;
	margin-top: 1em;
}