@font-face {
	font-family: 'BackIssues';
	src: local('BackIssues'), url('./fonts/BackIssuesBB_reg.otf') format('otf');
}  

body {
  margin: 0;
  font-family: 'BackIssues', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
